<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Información</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="col-md-3">
          <a href="/">
            <img src="images/parfoo.png" alt="Parfoo: Make DEV happen" width="80%" height="80%">
          </a>
        </div>
        <div class="col-md-9">
          <h1>Tablero de toma de decisiones</h1>
        </div>
      </div>

      <br>

      <div class="row" id="decision">
        <div class="col-md-4">
          <div class="container x_panel">
            <h3>Comprar: </h3>
            <p id = "buy" style = "font-size:x-large;"></p>
            <br>
            <span class="fa fa-bullhorn"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container x_panel">
            <h3>Ganancia:</h3>
            <p id = "percent" style = "font-size:x-large;"></p>
            <br>
            <span class="fa fa-line-chart"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container x_panel">
            <h3>Plazo:</h3>
            <p id = "time" style = "font-size:x-large;">Al día</p>
            <br>
            <span class="fa fa-hourglass"></span>
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="body">
        <div class="col-md-4">
          <div class="container x_panel">
            <h3>BitCoin</h3>
            <table class="table table-sm table-bordered table-hover">
                <thead class="thead-light">
                  <th>Descripción</th>
                  <th>Cantidad</th>
                </thead>
                <tbody>
                  <tr>
                    <td>USD</td>
                    <td id = "money"></td>
                  </tr>
                  <tr>
                    <td>Max</td>
                    <td id = "maxUSD"></td>
                  </tr>
                  <tr>
                    <td>Min</td>
                    <td id = "minUSD"></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="container x_panel">
                <canvas id="recordChart" width="200" height="300"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container x_panel">
                <canvas id="percentChart" width="200" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <script type="text/javascript" src="dependencies/sails.io.js"></script>
    <script type="text/javascript">
    var points = [];
    var percents = [];
    var labels = [];
    var maxElements = 30;
    var record = document.getElementById("recordChart").getContext('2d');
    var percent = document.getElementById("percentChart").getContext('2d');
    var options = {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:false
                }
            }]
        }
    };
    var dataRecord = {
        labels: labels,
        datasets: [{
            label: 'Valor de BitCoin',
            data: points,
            borderWidth: 3,
            fill: true,
            borderColor: "rgba(212,209,95,1)",
            backgroundColor: "rgba(212,209,95,0.2)"
        }]
    };
    var dataPercent = {
        labels: labels,
        datasets: [{
            label: 'Variación de BitCoin (%)',
            data: percents,
            borderWidth: 3,
            fill: true,
            borderColor: "rgba(212,209,95,1)",
            backgroundColor: "rgba(212,209,95,0.2)"
        }]
    };
    var recordChart = new Chart(record, {
        type: 'line',
        data: dataRecord,
        options: options
    });
    var percentChart = new Chart(percent, {
        type: 'line',
        data: dataPercent,
        options: options
    });
    io.socket.on('data', function(information) {
      if (labels.length > maxElements) {
        for (var i = 0; i < labels.length-1; i++) {
          labels[i] = labels[i+1];
          points[i] = points[i+1];
          percents[i] = percents[i+1];
        }
        labels.pop();
        points.pop();
        percents.pop();
      }
      var buy = document.getElementById('buy');
      buy.innerHTML = information.data.buy;
      var percent = document.getElementById('percent');
      percent.innerHTML = information.data.priceChangePercent;
      var money = document.getElementById('money');
      money.innerHTML = information.data.openPrice;
      var min = document.getElementById('minUSD');
      min.innerHTML = information.data.lowPrice;
      var max = document.getElementById('maxUSD');
      max.innerHTML = information.data.highPrice;
      points.push(parseFloat(information.data.openPrice));
      percents.push(parseFloat(information.data.priceChangePercent));
      var date = new Date();
      var hh = date.getUTCHours();
      var mm = date.getUTCMinutes();
      var ss = date.getSeconds();
      if (hh < 10) {
        hh = "0"+hh;
      }
      if (mm < 10) {
        mm = "0"+mm;
      }
      if (ss < 10) {
        ss = "0"+ss;
      }
      var t = hh+":"+mm+":"+ss;
      labels.push(t);
      window.recordChart.update();
      window.percentChart.update();
    });
    io.socket.get('/data', function(information) {
      for (data of information) {
        if (labels.length > maxElements) {
          for (var i = 0; i < labels.length-1; i++) {
            labels[i] = labels[i+1];
            points[i] = points[i+1];
            percents[i] = percents[i+1];
          }
          labels.pop();
          points.pop();
          percents.pop();
        }
        var buy = document.getElementById('buy');
        buy.innerHTML = data.buy;
        var percent = document.getElementById('percent');
        percent.innerHTML = data.priceChangePercent;
        var money = document.getElementById('money');
        money.innerHTML = data.openPrice;
        var min = document.getElementById('minUSD');
        min.innerHTML = data.lowPrice;
        var max = document.getElementById('maxUSD');
        max.innerHTML = data.highPrice;
        points.push(parseFloat(data.openPrice));
        percents.push(parseFloat(data.priceChangePercent));
        var date = new Date();
        var hh = date.getUTCHours();
        var mm = date.getUTCMinutes();
        var ss = date.getSeconds();
        if (hh < 10) {
          hh = "0"+hh;
        }
        if (mm < 10) {
          mm = "0"+mm;
        }
        if (ss < 10) {
          ss = "0"+ss;
        }
        var t = hh+":"+mm+":"+ss;
        labels.push(t);
        window.recordChart.update();
        window.percentChart.update();
      }
    });
    </script>
  </body>
</html>
