<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Información</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="col-md-3">
          <a href="/">
            <img src="images/parfoo.png" alt="Parfoo: Make DEV happen" width="80%" height="80%">
          </a>
        </div>
        <div class="col-md-9">
          <h1>Toma de decisiones</h1>
        </div>
      </div>
      <br>
      <div class="row" id="decision">
        <div class="col-md-4">
          <div class="x_panel">
            <h3>Comprar: </h3>
            <p></p>
            <br>
            <span class="fa fa-bullhorn"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="x_panel">
            <h3>Ganancia:</h3>
            <p></p>
            <br>
            <span class="fa fa-line-chart"></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="x_panel">
            <h3>Plazo:</h3>
            <p></p>
            <br>
            <span class="fa fa-hourglass"></span>
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="body">
        <div class="col-md-3">
          <div class="x_panel">
            <h3>BitCoin</h3>
            <table class="table table-sm table-bordered table-hover">
              <thead class="thead-light">
                <th>Descripción</th>
                <th>Cantidad</th>
              </thead>
              <tbody>
                <tr>
                  <td>MXN</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Max</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Min</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Variación</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
              <div class="x_panel">
                <canvas id="history" width="200" height="300"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="x_panel">
                <canvas id="history2" width="200" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" id="button">
        <div class="col-md-2 offset-md-10">
          <button type="button" class="btn btn-outline-success">Cargar datos</button>
        </div>
      </div>
    </div>
    <script>
    var ctx = document.getElementById("history").getContext('2d');
    var options = {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: options
    });
    var ctx = document.getElementById("history2").getContext('2d');
    var options = {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: options
    });
    </script>
  </body>
</html>
